@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Certificates.Models.ACSCertificateViewModel

@{
    var data = ViewBag.Message;
}
@{
    Layout = Layout = "~/Views/Shared/_certificateLayout.cshtml";
}
<h3>@ViewData["MyName"]</h3>

@foreach (var item in Model.ACSCertificateFields)
{
    @*@Html.Raw(item.CertBody.Replace("&lt;",""));*@
    
<div class="Main-table">
    @Html.Raw(item.CertBody);
</div>
                if (item.CertVersion == "V02")
                {
                @Html.Partial("V02")
                }
                if (item.CertVersion == "V02a")
                {
                @Html.Partial("V02a")
                }
                if (item.CertVersion == "V03")
                {
                @Html.Partial("V03")
                }
                if (item.CertVersion == "V03a")
                {
                @Html.Partial("V03a")
                }

}
