@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Certificates.Models.ACSCertificateViewModel

@{
    var data = ViewBag.Message;
}
@{
    Layout = Layout = "~/Views/Shared/_certificateLayout.cshtml";
}
<h3>@ViewData["MyName"]</h3>

<div class="transpage">
    <table>
        <tr>
            <td>
                @foreach (var item in Model.ACSCertificateFields)
                {
                    @Html.Raw(item.CertTrans);
                }
            </td>
        </tr>
    </table>

    <br />
    <table border="1">
        <tr>
            <th>
                Date
            </th>
            <th>
                Title
            </th>
            <th>
                Total Credit Hours
            </th>
        </tr>
        @foreach (var item2 in Model.ACSEventTranscript)
        {
            <tr>
                <td>
                    @item2.DateGranted.ToString("MM/dd/yyyy")
                </td>

                <td>
                    @item2.Name
                </td>
                <td>
                    @item2.CME_Max_Credits
                </td>
            </tr>
        }

    </table>
</div>