@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Certificates.Models.ACSCertificateViewModel

@{
    var data = ViewBag.Message;
}
@{
    Layout = Layout = "~/Views/Shared/_certificateLayout.cshtml";
}
<h3>@ViewData["MyName"]</h3>

<div class="transpage">
    <table>
        <tr>
            <td>
                @foreach (var item in Model.ACSCertificateFields)
                {
                    @Html.Raw(item.CertTrans);
                }
            </td>
        </tr>
    </table>
        <br />
        <table width="800px" border="1">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Title
                </th>
                <th>
                    Total Credit Hours
                </th>
                <th>
                    Self-Assessment Hours
                </th>
                <th>
                    Credit to Address Regulatory Mandates Type
                </th>
                <th>
                    Total Hours
                </th>
                <th>
                    Credit to Address ACS Accreditation / Verification Requirements Type
                </th>
                <th>
                    Total Hours
                </th>
                <th>
                    Verification Level (when applicable)
                </th>
            </tr>
            @foreach (var item2 in Model.ACSEventTranscript)
            {
                <tr>
                    <td>
                        @item2.DateGranted.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @item2.Name
                    </td>
                    <td>
                        @item2.CME_Max_Credits
                    </td>
                    <td>
                        @item2.SACME_Max_Credits
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            }

        </table>
    </div>
